@font-face{
    font-family: mukta__R;
    src: url(../fonts/Mukta-Regular.ttf);
}
@font-face{
    font-family: mukta__B;
    src: url(../fonts/Mukta-Bold.ttf);
}
@font-face{
    font-family: mukta__EB;
    src: url(../fonts/Mukta-Regular.ttf);
}